.header
  margin-bottom: $xl-size

.header__container
  max-width: calc(50rem + 2px)

.header__container img
  max-width: 64px
  max-height: 64px
  margin-bottom: $s-size

.header__title a
  font-size: $xl-size
  font-weight: 200
  letter-spacing: 0.3rem

.header__lead
  margin-top: auto
  margin-bottom: $t-size
