.welcome
  max-width: calc(50rem + 2px)

.welcome__input-group--xl #new-clip-key
  font-size: 2rem
  font-weight: 500
  height: calc(5rem + 2px)

.welcome__input-group--xl #new-clip-site
  font-size: 2rem
  color: lighten(gray, 20%)
  height: calc(5rem + 2px)  


.welcome__input-group--xl #new-clip-button
  font-size: 2rem
  height: calc(5rem + 2px)  
  